* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #0f172a;
}

a {
    text-decoration: none;
    color: #0f172a;
}

header {
    width: 100%;
    padding: 40px;
    border-bottom: 1px solid green;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav h3 {
    display: flex;
    margin: 0;

}

.nav {
    display: flex;
    gap: 30px;
    align-items: center;
}


.btn-verde{
    border-radius: 25px;
    padding: 8px 16px;
    background-color: #119140;
    color: white;
}

.btn-verde:hover {
    filter: brightness(1.3);
}

.btn-branco{
    border-radius: 25px;
    border: 0.5px solid #e5e7eb;
    padding: 8px 16px;

    color: 0f172a;
}

.btn-branco:hover {
    border: 0.5px solid #aaabad;
}

.btn-escuro {
    border-radius: 25px;
    padding: 8px 16px;
    background-color: #0f172a;
    color: white;
}

.btn-escuro:hover {
    filter: brightness(1.3);
}


